@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* All */
a {
    text-decoration: none;
}

/* Sidebar */
.sidebar-wrapper {
    width: 275px;
    height: 100vh;
    left: 0;
    overflow-y: auto;
}

.sidebar-menu .nav-link {
    font-size: 15px;
}

.sidebar-menu .dropdown::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
    position: absolute;
    right: 15px;
}

.sidebar-menu .submenu .nav-item {
    font-size: 14px;
}

.sidebar-menu .submenu .nav-item {
    color: black;
    transition: 0.3s;
}

.sidebar-menu .submenu .nav-item:hover {
    color: grey;
    margin-left: 5px;
}

.sidebar-menu .submenu-hidden {
    display: none;
}

/* Main */
.main {
    margin-left: 275px;
    height: 100vh;
}