@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* All */
a {
    text-decoration: none;
}

/* Sidebar */
.sidebar-wrapper {
    width: 275px;
    height: 100vh;
    left: 0;
    overflow-y: auto;
}

.sidebar-header .close-sidebar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
}

.sidebar-menu .nav-link {
    font-size: 15px;
}

.sidebar-menu .dropdown::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
    position: absolute;
    right: 15px;
}

.sidebar-menu .submenu .nav-item {
    font-size: 14px;
}

.sidebar-menu .submenu .nav-item {
    color: black;
    transition: 0.3s;
}

.sidebar-menu .submenu .nav-item:hover {
    color: grey;
    margin-left: 5px;
}

.sidebar-menu .submenu-hidden {
    display: none;
}

/* Main */
.main {
    margin-left: 275px;
    height: 100vh;
}

.main .nav-link {
    font-size: 21px;
}

.main #avatar-image {
    width: 35px;
}

.main #avatar-text {
    font-size: 14px;
}

.main .main-data .graph-top .card-canvas {
    width: 100%;
    height: 150px;
    background-color: #0dcaf0 ;
}

.main .main-data .graph .card-canvas {
    width: 100%;
    height: 300px;
}

.main .main-data .graph .card-canvas canvas {
    height: 250px;
}

.main .main-data .activity-bar .col-item {
    width: 10px;
    height: 10px;
    background-color: #DFEAF0;
    padding: 10px;
    margin-top: 11px;
    border-radius: 15%;
}

.main .main-data .activity-bar .act-0 {
    background-color: #DFEAF0;
}

.main .main-data .activity-bar .act-1 {
    background-color: #B5E4FE;
}

.main .main-data .activity-bar .act-2 {
    background-color: #2CB3FF;
}

.main .main-data .activity-bar .act-3 {
    background-color: #2781B4;
}